
.MuiIcon-root-171 {
    width: 1em;
    height: 1em;
    overflow: hidden;
    font-size: 24px;
    user-select: none;
    flex-shrink: 0;
    color: white;
}
.MuiTypography-subheading-193 {
    color: white !important;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5em;
}
